{% extends 'Tech506CallServiceBundle:Admin:layouts/admin_layout.html.twig' %}

{% block css %}
    <link href="{{ asset('admin/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block js %}
    <script src="{{ asset('admin/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('admin/js/fileinput_locale_es.js') }}"></script>
    <script src="{{ asset('admin/js/tech506/tech506_services.js') }}"></script>

    <script type="text/javascript">
        Tech506.module = "services-list";
        Tech506.UI.urls['manage-service'] = "{{ path('_admin_services_manage') }}";
    </script>
{% endblock js %}

{% block mainContent %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="{{ path('_admin_home') }}">{{ 'home'|trans }}</a></li>
                    <li><i class="fa fa-phone"></i>{{ 'tech.services'|trans }}</li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ 'Services'|trans }}
                            <small>{{ 'list'|trans }}</small>
                        </h2>
                        <a class="btn btn-primary pull-right" href="{{ path('_admin_services_register') }}">{{ 'new'|trans }}</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Table -->
                        <div id="custom-toolbar">
                            <div class="row form-horizontal" role="form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <div class="form-group">
                                            <label class="control-label col-lg-4" for="sellerFilter">{{ 'filter.by.seller'|trans }}</label>
                                            <div class="col-lg-8">
                                                {{ renderSellersSelect()|raw }}
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label class="control-label col-lg-4" for="technicianFilter">{{ 'filter.by.technician'|trans }}</label>
                                            <div class="col-lg-8">
                                                {{ renderTechniciansSelect()|raw }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-4" for="statusFilter">{{ 'filter.by.status'|trans }}</label>
                                            <div class="col-lg-8">
                                                {{ renderServiceStatusSelect()|raw }}
                                            </div>
                                        </div>
                                        <!--
                                        <div class="form-group">
                                            <label class="control-label col-lg-4" for="date">{{ 'enter.date'|trans }}</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control date-input-range" id="date" name="date" value="01/01/2015 - 31/01/2015">
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table id="catalog-list" class="table table-striped table-bordered table-hover responsive-utilities jambo_table"
                               data-toolbar="#custom-toolbar"
                               data-toggle="table"
                               data-url="{{ path('_admin_services_list') }}"
                               data-side-pagination="server"
                               data-height="650"
                               data-card-view="false"
                               data-show-refresh="true" data-show-columns="true"
                               data-search="true" data-select-item-name="toolbar1"
                               data-pagination="true"
                               data-page-list="[10, 25, 50, 100]"
                               data-sort-name="id"
                               data-sort-order="desc"
                               data-query-params="Tech506.Sales.Services.List.catalogTableParams">
                            <thead>
                            <tr>
                                <th data-field="id" data-sortable="true" class="col-md-1">
                                    {{ '#'|trans }}
                                </th>
                                <th data-field="seller" data-sortable="true" class="col-md-2">
                                    {{ 'seller'|trans }}
                                </th>
                                <th data-field="client" data-sortable="true" class="col-md-3">
                                    {{ 'client'|trans }}
                                </th>
                                <th data-field="technician" data-sortable="true" class="col-md-2">
                                    {{ 'technician'|trans }}
                                </th>
                                <th data-field="status" data-sortable="true" class="col-md-1">
                                    {{ 'status'|trans }}
                                </th>
                                <th data-field="creationDate" data-sortable="true" class="col-md-3">
                                    {{ 'creation.date'|trans }}
                                </th>
                                <th data-field="operate" data-card-visible="false" data-searchable="false"
                                    data-formatter="Tech506.Sales.Services.List.operateFormatter"
                                    data-events="Tech506.Sales.Services.List.operateEvents">{{ 'actions'|trans }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainContent %}