{% extends 'Tech506CallServiceBundle:Admin:layouts/admin_layout.html.twig' %}

{% block css %}
    <link href="{{ asset('admin/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block js %}
    <script src="{{ asset('admin/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('admin/js/fileinput_locale_es.js') }}"></script>
    <script src="{{ asset('admin/js/tech506/tech506_services.js') }}"></script>

    <script type="text/javascript">
        Tech506.module = "services-schedule-list";
        Tech506.UI.urls['manage-service'] = "{{ path('_admin_services_manage') }}";
        Tech506.UI.urls['service-schedule-update'] = "{{ path('_admin_service_schedule_update') }}";
        Tech506.UI.urls['service-change-status'] = "{{ path('_admin_services_change_status'|trans ) }}";
        Tech506.UI.translates['confirm-delete-title'] = "{{ 'confirm.cancel.service.title'|trans }}";
        Tech506.UI.translates['confirm-delete-msg'] = "{{ 'confirm.cancel.service'|trans }}";
        Tech506.UI.translates['yes'] = "{{ "yes"|trans }}";
        Tech506.UI.translates['no'] = "{{ "no"|trans }}";
    </script>
{% endblock js %}

{% block mainContent %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="{{ path('_admin_home') }}">{{ 'home'|trans }}</a></li>
                    <li><i class="fa fa-phone"></i><a href="{{ path('_admin_services') }}">{{ 'tech.services'|trans }}</a></li>
                    <li><i class="fa fa-calendar"></i>{{ 'schedule'|trans }}</li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            {{ 'schedule.services.note'|trans }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Table -->
                        <table id="services-list" class="table table-striped table-bordered table-hover responsive-utilities jambo_table"
                               data-toggle="table"
                               data-height="400"
                               data-card-view="false">
                            <thead>
                            <tr>
                                <th data-sortable="true">
                                    {{ '#'|trans }}
                                </th>
                                <th class="col-md-3">
                                    {{ 'information'|trans }}
                                </th>
                                <th class="col-md-3">
                                    {{ 'technician'|trans }}
                                </th>
                                <th class="col-md-1">
                                    {{ 'visit.date'|trans }}
                                </th>
                                <th class="col-md-1">
                                    {{ 'visit.hour'|trans }}
                                </th>
                                <th class="col-md-2">
                                    {{ 'actions'|trans }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in services %}
                                <tr id="service-row-{{ service.id }}">
                                    <td class="col-lg-1">{{ service.id }}</td>
                                    <td>
                                        <div class="service-info">
                                            <p><span>{{ 'seller'|trans }}: </span>{{ service.seller.fullName }}</p>
                                            <p><span>{{ 'client'|trans }}: </span>{{ service.client }}</p>
                                            <p><span>{{ 'creation.date'|trans }}: </span>{{ service.creationDate|date('M/d/Y') }}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control service-technician" id="technician-{{ service.id }}" rel="{{ service.id }}">
                                            <option value="0"></option>
                                            {% for technician in technicians %}
                                                <option value="{{ technician.id }}"
                                                        {{ (service.technician and service.technician.id == technician.id)? ' selected="selected"':'' }}
                                                        >{{ technician.user.fullname }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input id="date-{{ service.id }}" class="form-control datepicker"
                                               type="text" rel="{{ service.id }}"
                                               value="{{ service.scheduleDate? service.scheduleDate|date('d/m/Y') }}">
                                    </td>
                                    <td>
                                        <input id="time-{{ service.id }}" class="form-control timepicker" type="text"
                                               rel="{{ service.id }}" value="{{ service.hour }}">
                                    </td>
                                    <td>
                                        <a class="btn-edit scheduleIcon" href="#" rel="{{ service.id }}" title="{{ 'edit'|trans }}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                        <a class="btn-cancel" href="#" rel="{{ service.id }}" title="{{ 'cancel'|trans }}">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainContent %}