<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio Administrativo de Servigases">
    <meta name="author" content="Selim Díaz A.">
    <meta name="keyword" content="Servigases, Gases, Calentadores, Estufas">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>{{ 'site.title'|trans }}</title>

    <!-- Bootstrap CSS -->
    <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{ asset('admin/css/bootstrap-theme.css') }}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{ asset('admin/css/elegant-icons-style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('admin/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link href="{{ asset('admin/') }}css/style.css" rel="stylesheet">
    <link href="{{ asset('admin/') }}css/style-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="{{ asset('admin/js/html5shiv.js') }}"></script>
    <script src="{{ asset('admin/js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body class="login-img3-body">
<div class="container">
    <form class="login-form" action="{{ path("_security_check") }}" method="post">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>

            {% if error is defined and error != "" %}
                <div class="alert alert-block alert-danger fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    {{ error|trans }}
                </div>
            {% endif %}

            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input id="username" name="_username" type="text" class="form-control" required="required"
                       placeholder="{{ "username"|trans }}" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input id="password" name="_password" required="required" type="password" class="form-control"
                       placeholder="{{ 'password'|trans }}">
            </div>
            <label class="checkbox">
                <input id="remember_me" name="_remember_me" checked type="checkbox"> {{ 'remember.me'|trans }}
                <span class="pull-right"> <a href="#"> {{ 'forgot.password'|trans }}</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">{{ 'login'|trans }}</button>
        </div>
    </form>
</div>
</body>
</html>