<div class="row">
    <div class="col-lg-6 col-md-12">
        <!-- vinculationDate -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="vinculationDate">{{ 'vinculation.date'|trans }}</label>
            <div class="col-lg-8">
                <input class="form-control" type="date" id="vinculationDate" name="vinculationDate" value="">
                <p class="help-block">{{ 'input.date.note'|trans }}</p>
            </div>
        </div>

        <!-- vinculationEndingDate -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="vinculationEndingDate">{{ 'vinculation.ending.date'|trans }}</label>

            <div class="col-lg-8">
                <input class="form-control" type="date" id="vinculationEndingDate" name="vinculationEndingDate" value="">

                <p class="help-block">{{ 'input.date.note'|trans }}</p>
            </div>
        </div>

        <!-- eps -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="eps">{{ 'eps'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="eps" name="eps" maxlength="255">
            </div>
        </div>

        <!-- arl -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="arl">{{ 'arl'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="arl" name="arl" maxlength="255">
            </div>
        </div>

        <!-- compensationFund -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="compensationFund">{{ 'compensation.fund'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="compensationFund" name="compensationFund" maxlength="255">
            </div>
        </div>

        <!-- pensionFund -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="pensionFund">{{ 'pension.fund'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="pensionFund" name="pensionFund" maxlength="255">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <!-- observations -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="observations">{{ 'observations'|trans }}</label>

            <div class="col-lg-8">
                <textarea class="form-control" id="observations" name="observations"></textarea>
            </div>
        </div>
    </div>
</div>


