<div class="row">
    <div class="col-lg-6 col-md-12">
        <!-- vinculationDate -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="vinculationDate">{{ 'vinculation.date'|trans }}</label>
            <div class="col-lg-8">
                <input class="form-control" type="date" id="vinculationDate" name="vinculationDate" value="">
                <p class="help-block">{{ 'input.date.note'|trans }}</p>
            </div>
        </div>

        <!-- vinculationEndingDate -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="vinculationEndingDate">{{ 'vinculation.ending.date'|trans }}</label>

            <div class="col-lg-8">
                <input class="form-control" type="date" id="vinculationEndingDate" name="vinculationEndingDate" value="">

                <p class="help-block">{{ 'input.date.note'|trans }}</p>
            </div>
        </div>

        <!-- eps -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="eps">{{ 'eps'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="eps" name="eps" maxlength="255">
            </div>
        </div>

        <!-- arl -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="arl">{{ 'arl'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="arl" name="arl" maxlength="255">
            </div>
        </div>

        <!-- compensationFund -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="compensationFund">{{ 'compensation.fund'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="compensationFund" name="compensationFund" maxlength="255">
            </div>
        </div>

        <!-- pensionFund -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="pensionFund">{{ 'pension.fund'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="pensionFund" name="pensionFund" maxlength="255">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <!-- lastUniformDate -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="lastUniformDate">{{ 'last.uniform.date'|trans }} *</label>

            <div class="col-lg-8">
                <input class="form-control" type="date" id="lastUniformDate" name="lastUniformDate" value="">
                <p class="help-block">{{ 'input.date.note'|trans }}</p>
            </div>
        </div>

        <!-- shirtSize -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="email">{{ 'shirt.size'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="shirtSize" name="shirtSize"
                       maxlength="25">
            </div>
        </div>

        <!-- pantsSize -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="pantsSize">{{ 'pants.size'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="pantsSize" name="pantsSize"
                       maxlength="25">
            </div>
        </div>

        <!-- shoesSize -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="shoesSize">{{ 'shoes.size'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="shoesSize" name="shoesSize"
                       maxlength="25">
            </div>
        </div>

        <!-- motorcycleLicensePlate -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="motorcycleLicensePlate">{{ 'motorcycle.license.plate'|trans }}</label>

            <div class="col-lg-8">
                <input type="text" class="form-control" id="motorcycleLicensePlate" name="motorcycleLicensePlate"
                       maxlength="25">
            </div>
        </div>

        <!-- observations -->
        <div class="form-group">
            <label class="control-label col-lg-4" for="observations">{{ 'observations'|trans }}</label>

            <div class="col-lg-8">
                <textarea class="form-control" id="observations" name="observations"></textarea>
            </div>
        </div>
    </div>
</div>


